<table ng-model="$ctrl.item.model"
       ng-style="$ctrl.item.properties.element.styles | toObject"
       ng-class="$ctrl.item.properties.element.classes">
  <thead>
  <tr>
    <th ng-repeat="column in $ctrl.item.children[0].children">
      <generator
          item="column"
          selected="$ctrl.selected"
      ></generator>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td ng-repeat="column in $ctrl.item.children[1].children">
      <generator
          item="column"
          selected="$ctrl.selected"
      ></generator>
    </td>
  </tr>
  </tbody>
</table>