<table ng-style="item.properties.element.styles | toObject"
       ng-class="item.properties.element.classes">
  <thead>
  <tr ng-style="item.properties.row_header.styles | toObject">
    <th
        ng-style="item.properties.column_header.styles | toObject"
        ng-repeat="(table_header_column_index, table_header_column) in item.children[0].children">
      <generator></generator>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-style="item.properties.row_body.styles | toObject" ng-repeat="(table_data_row_index, table_data_row) in item.model">
    <td
        ng-style="item.properties.column_body.styles | toObject"
        ng-repeat="(table_body_column_index, table_body_column) in item.children[1].children">
      <generator></generator>
    </td>
  </tr>
  </tbody>
</table>