.cchai{
  .group-style{
    border:1px solid #999;
    margin:5px 2px;
  }

  .selected{
    border:1px dotted red !important;
  }

  .dndDraggingSource {
    display: none;
  }


  .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 25px;
  }
}


//for design page
.stacked{
  padding: 5px;
  border:1px dotted #999;
  display: flex; //Default
  flex-wrap: nowrap; //Default
  flex-direction: column; //Default
  justify-content:flex-start; //Default
  align-items: stretch; //Default
  align-content: stretch; //Default

  //Display in column
  &.flex_row{
    flex-direction: row;
  }

  &.flex_row_reverse{
    flex-direction: row-reverse;
  }

  //Display in column
  &.flex_column{
    flex-direction: column;
  }

  &.flex_column_reverse{
    flex-direction: column-reverse;
  }

  //Wrap container
  &.flex_wrap{
    flex-wrap: wrap;
  }

  &.flex_wrap_reverse{
    flex-wrap: wrap-reverse;
  }

  //Justify-content for x-axis
  &.flex_justify_content-end{
    justify-content: flex-end;
  }

  &.flex_justify_content_center{
    justify-content: center;
  }

  &.flex_justify_content_space_around{
    justify-content: space-around;
  }

  &.flex_justify_content_space_between{
    justify-content: space-between;
  }

  // Align items for y-axis
  &.flex_align_items_start{
    align-items: flex-start;
  }

  &.flex_align_items_end{
    align-items: flex-end;
  }

  &.flex_align_items_center{
    align-items: center;
  }

  &.flex_align_items_baseline{
    align-items: baseline;
  }

  // Align content in side flexbox
  &.flex_aligns_content_start{
    align-content:flex-start;
  }

  &.flex_aligns_content_end{
    align-content:flex-end;
  }

  &.flex_aligns_content_center{
    align-content:center;
  }

  &.flex_aligns_content_space_between{
    align-content:space-between;
  }

  &.flex_aligns_content_space_around{
    align-content:space-around;
  }


  // Children alignment
  .flex_align-self-start{
    align-self: flex-start;
  }

  .flex_align-self-end{
    align-self: flex-end;
  }

  .flex_align-self-center{
    align-self: center;
  }

  .flex_align-self-baseline{
    align-self: baseline;
  }

  .flex_align-self-stretch{
    align-self: stretch;
  }
}